/*#title{
    background-color: rgb(218, 159, 101);
}
.mainarea{

}
#nav{
    /*display:flex;
    float:left;
    }
 #display{
    background-image: url(bg.jpg);
    height: 00px;
      display:flex;
      align: center;
    }*/
    *{
      box-sizing: border-box;
    }
    body{
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
    header,footer{
      height: 20%;
      padding: 20px;
      background-color: rgb(218, 159, 101);
      color: black;
    }

    section{
      width:70%;
      float:right;
      height: 100%;
     color: yellow;
      align-items: center;
      
    }
    .left{
      height: 100%;
      width: 25%;
      float: left;
      
      border-right: 1px solid black;
      background-color: rgba(80, 80, 80, 0.2);
      }
    .main{
      margin: 10px 0px;
      background-image: url(bg.jpg);
      background-repeat: no-repeat;
      background-size:inherit;
      background-position: center;
    }
    .main::after{
    content: "";
    clear: both;
    display:table;
    }
    p{
      padding: 5%;
    }
    button{
      width: 200px;
      background-color:transparent;
      border: black;
      border-style: ridge;
      border-width: 10px;
      border-radius: 5px;
      margin-bottom: 5%;
    }
    button:hover{
      background-color: white;
    }
    #cale{
      border: blue;
      background-color: blue;
      color: black;
      height: 10px;
      padding: 10%;
    }
    #sess{
      border: blue;
      background-color: blue;
      color: black;
      height: 10px;
      align-items: center;
      padding: 10%;
    }
    /*#options{
      height: 20%;
    }
    #option{
      height: 80%;
    }*/
